<p class="lead">Søk etter navn på personer, innslag eller låter</p>

<form action="{{ url('search') }}" method="post">
	<div class="ukmtv-search-div">
		<div class="form-group ukmtv-search-field">
			<input id="ukmtvsearch" name="doSearchFor" type="text" class="form-control" placeholder="Søk etter filmer fra de siste 3 årene" />
		</div>
		
		<div id="ukmTvSearchBtn">
			<button class="btn btn-outline-primary" type="submit">Søk</button>
		</div>
	</div>
</form>
<style>
	.ukmtv-search-div {
		display: flex;
	}
	.ukmtv-search-div .ukmtv-search-field {
		width: 100%;
	}
	#ukmTvSearchBtn {
		margin-left: 10px;
	}
</style>