{% extends "UKMNtvguiBundle:Layout:layout.html.twig" %}

{% block content %}
	<div class="container">
		<div class="row">
			<div class="col-12">
				<h1>Søk</h1>
                <div class="alert alert-info">
                    På grunn av en feil i UKM-TV må du dessverre søk deg frem til filmen du leter akkurat nå.
                    Vi jobber med en oppgradering som vi forventer å ha ferdig før jula 2019.
                </div>
				{% embed "UKMNtvguiBundle:Search:form.html.twig" %}{% endembed %}
			</div>
		</div>
	</div>
{% endblock %}