<h1>Tag-sync er kjørt</h1>
<p>Hvis denne siden inneholder SQL-spørringer, må du <a href="{{ path('ukmtv_cron_tags') }}">gå til neste side</a>. Hvis ikke er tags-feltet i TV_files-tabellen skal nå være i sync med tags-tabellen</p>