parameters:
    database_driver:   pdo_mysql
    database_host:     127.0.0.1
    database_port:     ~
    database_name:     symfony
    database_user:     root
    database_password: ~

    mailer_transport:  smtp
    mailer_host:       127.0.0.1
    mailer_user:       ~
    mailer_password:   ~

    locale:            en
    secret:            ThisTokenIsNotSoSecretChangeIt

    debug_toolbar:          true
    debug_redirects:        false
    use_assetic_controller: true

    ga_tracking: false

    facebook_app_id: false
    facebook_client_id:
    facebook_client_secret:

    ukmdesign.theme: ''

    UKM_HOSTNAME: ukm.dev
 
    
    nav:
        top:
            -
                url: 'http://ukm.no/'
                active: false
                title: 'for ungdom'
            -
                url: 'http://ukm.no/din_monstring/'
                active: false
                title: 'der du bor'
            -
                url: 'http://om.ukm.no'
                active: false
                title: 'for voksne og presse'
            -
                url: 'http://tv.ukm.no'
                active: true
                title: TV
        top_right:
            -
                url: 'http://ukm.no/wp-login.php'
                active: false
                title: 'for arrangører'
