{% extends "UKMNtvguiBundle:Layout:layout.html.twig" %}

{% block content %}	
	<div class="container">
		<div class="row">
			<div class="col-12">
				<h1>Lokalmønstringer som har lastet opp filmer</h1>
			</div>
		
			{% for fylke in monstringer %}
				<div class="col-12 col-sm-6">
					<h2>{{fylke.name}}</h2>
					<ol class="list-unstyled">
						{% for kommune in fylke.kommuner %}
							<li class="kommune">
								<a href="{{kommune.url}}">{{kommune.name}}</a>
							</li>
						{% endfor %}
					</ol>
				</div>
			{% endfor %}

		</div>
	</div>
{% endblock %}