<p class="lead">Søk etter navn på personer, innslag eller låter</p>

<form action="/search/" method="post">
	<div class="form-group">
		<input id="ukmtvsearch" name="doSearchFor" type="text" class="form-control" placeholder="Søk i UKM-tv" />
	</div>
	
	<div class="my-3">
		<button class="btn btn-outline-primary" type="submit">Søk</button>
	</div>
</form>