{% extends "UKMNtvguiBundle:Layout:layout.html.twig" %}

{% block content %}
	<div class="container">
		<div class="row">
			<div class="col-12">
				<h1>Søk</h1>
				{% embed "UKMNtvguiBundle:Search:form.html.twig" %}{% endembed %}
			</div>
		</div>
	</div>
{% endblock %}