{% extends "UKMNtvguiBundle:Layout:layout.html.twig" %}

{% block content %}
<h1>Søk</h1>
<p class="lead">Søk etter navn på personer, innslag eller låter</p>
<div class="col-xs-12">
	<form action="" method="post">
		<input id="ukmtvsearch" name="doSearchFor" type="text" class="form-control" placeholder="Søk i UKM-tv">
		
		<div class="clearfix"></div>
		<p></p>
		<button class="btn btn-md btn-submit" type="submit">Søk</button>
	</form>
</div>
{% endblock %}