{% extends "UKMDesign/Layout/base.html.twig" %}

{% block content %}
	<div class="container">
		<div class="row">
			<div class="col-12">
				<h1>Filmer fra UKM-festivalen</h1>
			</div>
			
			{% for year in years %}
				<div class="col-6 col-sm-4 col-md-3 col-lg-2 year p-3" id="year-{{year}}">
					<a href="{{year}}/" class="btn btn-outline-primary btn-block">
						{{year}}
					</a>
				</div>
			{% endfor %}
			</div>
		</div>
	</div>
{% endblock %}