{% extends "UKMNtvguiBundle:Layout:layout.html.twig" %}

{% block content %}
	<div class="container">
		<div class="row">
			<div class="col-12">
				<h1>Alle filmer av {{ person.name }}</h1>
				<p class="lead">
					OBS: det kan være at du finner flere filmer ved å 
					<a href="{{ path('ukmn_tvgui_searchfor', {'doSearchFor': person.name} ) }}">søke på {{person.name}}</a>
				</p>
				
				{% embed "UKMNtvguiBundle:Layout:filmListContent.html.twig" %}{% endembed %}
			</div>
		</div>
	</div>
{% endblock %}