{% extends "UKMNtvguiBundle:Layout:layout.html.twig" %}

{% block content %}
	<h2>UKM-TV er dessverre ikke tilgjengelig</h2>
	<p>UKM-TV er midlertidig tatt ned i påvente av avklaringer rundt visningsrettigheter.</p>
{% endblock %}
