{% extends "UKMNtvguiBundle:Layout:layout.html.twig" %}

{% block content %}
	<div class="container">
		<div class="row">
			<div class="col-12 col-md-8 pt-3">
				<p class="lead">
					UKM-TV er vår egen filmløsning hvor du finner filmklipp av de fleste som har deltatt på UKM...ish
				</p>
				
				<h2>Søk</h2>
				{% embed "UKMNtvguiBundle:Search:form.html.twig" %}{% endembed %}
			</div>
			<div class="col-12 col-md-4">
				<h3>Finn filmer fra</h3>
				<ol class="list-unstyled">
					<li class="my-2">
						<a href="{{ url('ukmn_tvgui_festivalen_homepage') }}" class="btn btn-block btn-outline-primary">
							UKM-Festivalen
						</a>
					</li>

					<li class="my-2">
						<a href="{{ url('ukmn_tvgui_fylke_homepage') }}" class="btn btn-block btn-outline-primary">
							Fylkesfestivalene
						</a>
					</li>

					<li class="my-2">
						<a href="{{ url('ukmn_tvgui_lokal_homepage') }}" class="btn btn-block btn-outline-primary">
							Lokalmønstringer
						</a>
					</li>

					<li class="my-2">
						<a href="{{ url('ukmn_tvgui_info_homepage') }}" class="btn btn-block btn-outline-primary">
							Infovideoer
						</a>
					</li>


				</ol>
			</div>
		</div>
	</div>
{% endblock %}
