{% extends "UKMNtvguiBundle:Layout:layout.html.twig" %}

{% block content %}
	<div class="container">
		<div class="row">
			<div class="col-12">
				<h1>Velg fylke fra listen</h1>
			</div>
			<ol class="col-6 list-unstyled my-0">
				<li><a href="akershus/">Akershus</a></li>
				<li><a href="aust-agder/">Aust-Agder</a></li>
				<li><a href="buskerud/">Buskerud</a></li>
				<li><a href="finnmark/">Finnmark</a></li>
				<li><a href="hedmark/">Hedmark</a></li>
				<li><a href="hordaland/">Hordaland</a></li>
				<li><a href="moreogromsdal/">Møre og Romsdal</a></li>
				<li><a href="nord-trondelag/">Nord-Trøndelag</a></li>
				<li><a href="nordland/">Nordland</a></li>
			</ol>
			<ol class="col-6 list-unstyled my-0">
				<li><a href="oppland/">Oppland</a></li>
				<li><a href="oslo/">Oslo</a></li>
				<li><a href="rogaland/">Rogaland</a></li>
				<li><a href="sognogfjordane/">Sogn og Fjordane</a></li>
				<li><a href="sor-trondelag/">Sør-Trøndelag</a></li>
				<li><a href="telemark/">Telemark</a></li>
				<li><a href="troms/">Troms</a></li>
				<li><a href="vest-agder/">Vest-Agder</a></li>
				<li><a href="vestfold/">Vestfold</a></li>
				<li><a href="ostfold/">Østfold</a></li>
			</ol>
		</div>
	</div>
{% endblock %}