<ol class="row filmList list-unstyled">
	{% for film in list %}
		<li class="tv col-6 col-sm-4 col-md-3 col-lg-2" id="tv-{{film.id}}">
			{% embed "UKMNtvguiBundle:Layout:filmGrid.html.twig" with {film: film} %}{% endembed %}
		</li>
	{% else %}
		<li>Beklager, fant ingen filmer</li>
	{% endfor %}
</ol>