<a href="{{ film.full_url }}">
	<div class="post-grid-default video" id="{{ film.id }}">
		<div class="image" style="background-image: url('{{ film.image_url }}');"></div>
		<p class="mb-1 bold">
			{{ film.title|raw }}
		</p>
	</div>
</a>